@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: #c2f0ee;
}
.header{
    background-color: #00fcf1;
    text-align: center;
    font-size: xx-large;
    font-family: 'Combo', cursive;
    font-weight: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bgimage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('bg.jpg');
    height: 70vh;
}
.image{
    position: absolute;
    background-image: url('v1.png');
    height: 40vh;
    width: 80vw;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    animation-name: focus;
    animation-duration: 2s; 
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;  
}

.info{
    font-size: xx-large;
    font-family: 'Combo', cursive;
    background-color: rgb(73, 73, 223);
    text-align: center;
}


@keyframes focus {
    0%{
        height: 40vh;
        width: 80vw;
        opacity: 1;
    }
    50%{
        height: 35vh;
        width: 75vw;
        opacity: 0.9;
    }
    100%{
        height: 40vh;
        width: 80vw;
        opacity: 1;
    }
}
